#product-list-table thead{ display: table-header-group }
#product-list-table tfoot{ display: table-row-group }
#product-list-table tr{ page-break-inside: avoid }

.btn .glyphicon {
    padding-top: 2px;
    padding-bottom: 4px;
}

/* make bootstrap nav submunu's expand on hover*/
.dataTables_wrapper .dataTables_length{
    float: left;
}

.dataTables_wrapper .dataTables_filter{
    float: right;
}
table.dataTable thead .sorting_asc::after{
    display: none;
}
table.dataTable thead .sorting::after{
    display: none;
}
pre {
    border: 0px !important;    
}
h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
table.dataTable tbody td {
  vertical-align: top;
}

th.num{
    text-align: center;
}

td.num{
    text-align: right;
}

h3.page-title{
    padding-top: 25px;
    padding-bottom: 20px;
}

.row-gallery {
    background-color: #FFFFFF;
}


.form-group.required label:after {
  content:" *";
  color:red;
}

body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
  margin-bottom: 15px;
}

.navbar .divider-vertical {
height: 30px;
margin: 15px;
border-left: 1px solid #f2f2f2;
border-right: 1px solid #ffffff;
}

.navbar-default {
    background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)); 
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(255,255,255,.15);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(255,255,255,.15);
	border-color: #fff;
	color: #1B374E;
}

.navbar-default .navbar-nav>li>a {
    color: #1B374E;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #152c3e;
    background-color: #EEE;
	/*text-decoration: underline;*/
	border-radius:4px;
	
}


.imagebtn  { 
position: absolute;
left: -9999px;
cursor: pointer;
}

html {
    overflow-y: scroll;
}

/*input[type="radio"]:checked.imagebtn  + label>img {*/
/*.imagebtn:checked  + img {*/
.imagebtn:checked + label img {
/*border-color: rgba(82,168,236,.8);*/
border-color: rgba(51,122,183,1);
outline: 2;
outline:  solid \10;
-moz-box-shadow: 0 0 10px rgba(51,122,183,1);
box-shadow: 0 0 10px rgba(51,122,183,1) !important;
cursor: pointer;
}

/*
input[type="radio"]:hover.imagebtn  + label>img {

border-color: rgba(121,121,121, 0.5);
outline: 2;
outline:  solid \10;
-moz-box-shadow: 0 0 10px rgba(121,121,121, 0.5);
box-shadow: 0 0 10px rgba(121,121,121, 0.5) !important;
cursor: pointer;
}
*/

/* ul>li, a{cursor: pointer;} */

.select button {width:100%; text-align:left;}
.select .caret {position:absolute; right:10px; margin-top:10px;}
.select:last-child>.btn {border-top-left-radius:5px; border-bottom-left-radius:5px;}
.selected {padding-right:10px;}
.option {width:100%;}	

.hoverDiv {background: #fff;}
.hoverDiv:hover {background: #f5f5f5;}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


.input-symbol span{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    pointer-events: none;
}
.input-symbol input{
    text-indent: 1em;
    margin-left: -1em;
}

.text-white {
	color: #fff;
}
.text-black {
	color: #000;
}

.text-red {
	color: red;
}
.text-darkblue {
	color: #1B374E;
}

.equal, .equal > div[class*='col-'] { 
display: -webkit-flex;
display: flex;
}

.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 600px;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
 
.flyover-centered {
   top: 50%;
   transform: translate(-50%, -50%);
}

.flyover.in {
   left: 50%;
}

.flyover-bottom {
   bottom: 10px;
}

.flyover-top {
   top: 175px;
}
img.img150{
	height: 150px;
}

/* img-responsive fix/hack for Firefox Bootstrap 3*/
/* .img-responsive{
	display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
} */

 .thumbnail {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 70px;
    /* height:425px;  */
    /* width: 340px; */
    /* background-color: #a94442; */
    
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    position:relative;
    overflow: hidden;
 }  

.image-box {
    
    display:inline-block;
    position:relative;
}

.image-title {
    position: absolute;
    bottom: 0px;
    text-align: center;
    z-index: 15;
    padding: 5px;
    /*color: #fff;*/
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, .6);*/
    /* background-color: #F5F5F5; */
    /* width: 100%; */
}

.gallery-title {
    position: absolute;
    /*bottom: 0px;*/
    margin-top: -15px;
    text-align: center;
    z-index: 15;
    /*padding: 5px;*/
    /*color: #fff;*/
    /*text-shadow: 0 1px 2px rgba(0, 0, 0, .6);*/
    /* background-color: rgba(255, 255, 255, 0.75); */
    /*width: 100%;*/
}

.gallery-city{
    color: #70787e;
}
.image-info {
    /* align-items: center; */
    /* display:inline-block; */
    left: 15px;
    background: #F5F5F5;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* z-index: 1; */
    text-align: left;

    /* display: flex; */
    /* position:relative; */
}


.modal-open[style] {
padding-right: 0px !important;
}

.modal .modal-body{
        min-height: 200px;
    }

.modal-gallery{
        max-height: 600px;
        align-content: center;
        align-items: center; 
        background-color: #ffffff;
        text-align: center;
    }
.modal-main-gallery {
   top: 10px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto; 
}
.centered-modal.in {
    display: flex !important;
}

.centered-modal .modal-dialog{
    margin: auto;
    max-width: 700px; 
    width: auto !important; 
    display: inline-block; 
    
}
	
.select2-container--default .select2-results > .select2-results__options {
    max-height: 400px;
    /*min-height: 200px;*/
    overflow-y: auto;
}

.select2-container--bootstrap .select2-results > .select2-results__options {
    max-height: 400px;
    /*min-height: 200px;*/
    overflow-y: auto;
}

.well{
	margin-bottom: 15px;
	overflow: hidden;
}
.progress{
	margin-bottom: 15px;
	overflow: hidden;
}
.table-products{
	margin-bottom: 15px;
	/*overflow: hidden;*/
	table-layout: fixed;
	word-wrap: break-word;
}
.table{
	margin-bottom: 15px;
	/*overflow: hidden;*/
	word-wrap: break-word;
}
.spec-table{
	/* margin-bottom: 15px; */
	/*overflow: hidden;*/
    /* word-wrap: break-word; */
    /* background: #F5F5F5; */
    word-wrap: break-word;
    border: #EEE;
    padding: 5px;
    height: 600px;
}
.panel{
	margin-bottom: 15px;
	/*overflow: hidden;*/
}

.table-responsive {
  overflow-x: auto !important;
  overflow-y: auto !important;
  clear: both;
  border: 0px solid #ddd;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
   }
	
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
input:invalid {
    border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.panel-UX {
    border-color: #b4bac2;
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active{
    background-color: #eef1f3;

}

.panel-UX>.panel-heading, .well {
    background-image: -webkit-linear-gradient(top,#eef1f3 0,#d1d8de 100%);
    background-image: -o-linear-gradient(top,#eef1f3 0,#d1d8de 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#eef1f3),to(#d1d8de));
    background-image: linear-gradient(to bottom,#eef1f3 0,#d1d8de 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f3', endColorstr='#d1d8de', GradientType=0);
    background-repeat: repeat-x;
    /* color: #fff; */
    background-color: #eef1f3;
    border-color: #b4bac2;
}
.check-green {
	color: #489f48;
}

.btn-UX-done {
    background-color: #eef1f3;
	border-color: #70787e;	
	 /* line-height: 1.35; */
}

.btn-UX-todo {
    background-color: #a6b2bd;
	border-color: #70787e;	
	 /* line-height: 1.35; */
}

.btn-UX-done.active, .btn-UX-done:active, .btn-UX-done:hover  {
    background-color: #bec0c2;
	border-color: #70787e;	
	 /* line-height: 1.35; */
	color: #fff;
}

.btn-UX-todo.active, .btn-UX-todo:active, .btn-UX-todo:hover {
	color: #fff;
    background-color: #848e97;
	border-color: #70787e;	
	 /* line-height: 1.35; */
}

.select2-container .select2-selection--single {

    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.panel-default > .panel-heading-admin{
  background-image: none;
  background-color: #ff0000;
  color: #ffffff;
}

.not-active {
  
   cursor: not-allowed;
    pointer-events: none;
}

/* tab color */
.nav-tabs>li>a {
  background-color: #a6b2bd;
	border-color: #70787e;	
	 /* line-height: 1.35; */
	  color: #ffffff;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
        background-color: #337ab7;
	border-color: #245580;
	 /* line-height: 1.35; */
	color: #fff;
}

/* hover tab color */
.nav-tabs>li>a:hover {
	color: #fff;
    background-color: #848e97;
	border-color: #70787e;	
	 /* line-height: 1.35; */
}

img.reflection
{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.tc50{
	width: 50px !important;
	max-width: 50px !important;
	min-width: 50px !important;
}
.tc75{
	width: 75px;
}
.tc100{
	width: 100px;
}
.tc125{
	width: 125px;
}
.tc150{
	width: 150px;
}
.tc175{
	width: 175px;
}
.tc200{
	width: 200px;
}
.tc454{
	width: 454px;
}

a:focus,a:active {
   outline: none !important;
}

.checkbox-inline>input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.scrollToTop{
	
	font-weight: bold;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:40px;
	display:none;
	
}
.scrollToTop:hover{
	text-decoration:none;
}
.add_btn .print_btn{
    display: inline;
}
.add_btn{
    margin-top: 10px;
    margin-bottom: 20px;
}
.print_btn{
    margin-right: 2%;
    margin-top: 10px;
    float: right;
    border-color: #5e676e;
}
.table-bordered{
    margin-bottom: 0%;
}
.cabin_type{
    width: 18%;
    
}
.cabin_assign{
    width: 15%;
}
.cabin_model{
    width: 15%;
}
.cabin_demension{
    width: 15%;
}
.cabin_file{
    width: 15%;
}
.cabin_note{
    width: 22%;
}
.floor_type{
    width: 18%;
}
.floor_file{
    width: 10%;
}
.floor_note{
    width: 52%;
}
.floor_date{
    width: 10%;
}
.floor_icon{
    width: 10%;
}
.entry{
    height: 42px;
    border: 1px solid #000;
}
.mybtn-group{
    float: right;
    margin-top:10px;
    margin-bottom:10px;
}
.custype{
    height:40px;
}
.st_type{
    
    margin-left: 80%;
    margin-top: 55px;
    font-size: 99%;
    font-weight: 700;
}

.st_note{
    margin-left: 80%;
    font-size: 99%;
    font-weight: 700;
}
.st_date{
    margin-left: 80%;
    font-size: 99%;
    font-weight: 700;
    margin-top: 180px;
}
#custom-button {
    padding: 5px;
    color: white;
    background-color: #419641;
    border-radius: 5px;
    cursor: pointer;
}
#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
    padding-bottom: 10px;
}
#TypeHere{
    margin-top: 20px;
}
.cusmargin{
    margin-top: 20px;
}
.data_input{
    width: 900px;
}
.app_add_div{
    display: none;
}
.cab_add_div{
    display: none;
}
#cusAdd2, #shipAdd2{
    margin-top: 15px;
}

.visible-xs {
    display: none !important;
}
.justify-content-center h2{
    text-align: center;
    padding-top: 30px;
}
.jumbotron{
    border-radius: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
